@import url(./vars.css);    
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.Header{
    height: 100px ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
}
.Header a{
    text-decoration: none;
    color: var(--black);
}
.Header h1{
    font-family: 'Bebas Neue', cursive;   
    font-size: 48px;
    font-weight: lighter;
}
.Header .miscellany{

    margin-right: 50px;
    display: flex; 
    justify-content: space-between;
    width: 250px;
    
}
.Header .miscellany .cart{
    width: 32px;
    height: 38px;
    background-image: url('../Assets/icon-cart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.Header .miscellany .user-icon{
    width: 32px;
    height: 38px;
    background-image: url('../Assets/icon-user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.Header .miscellany .loggin-button{
    background: none;
    border: 2px solid var(--black);
    width: 109px;
    height: 44px;
}
.Search {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 30px;
}
.Search input{
    font-size:18px;
    font-weight: 100;
    height: 38px;
    width: 600px;
    padding-left: 30px;    
    color:var(--grey-fonts);
    background-color: var(--very-ligth-grey);
    border: none;
}

.Search .search-icon{
    width: 30px;
    height: 18px;
    background-image: url('../Assets/Icon\ ionic-ios-search@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: var(--ligth-grey);
    border:10px solid var(--ligth-grey)
}


.Search .search-icon:hover{
    cursor: pointer;
}