.site-footer
{ 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;   
  background-color:#26272b;
  padding:30px;
  font-size:1.4rem;
  line-height:1.4rem;
  color:#737373;
}

.site-footer h6 {
  font-size:1.2rem;
  line-height:1.4rem;
  color:#ffffff;
  margin: 10px;
}

.site-footer ul{
    padding-left: 30px;
    font-size: 1.2rem;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}
